<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">handphoneku</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if session['level'] == 1 %}
          <a class="nav-item nav-link" href="/all_level">Level</a>
          <a class="nav-item nav-link" href="/all_karyawan">Karyawan</a>
          <a href="/show_handphone" class="nav-item nav-link">Handphone</a>
          <a href="/penjualan" class="nav-item nav-link">Penjualan</a>
          <a href="/log" class="nav-item nav-link">log</a>
          <a href="/logout" class="nav-item nav-link">Logout</a>
          {% elif session['level'] == 2 %}
          <a href="/penjualan" class="nav-item nav-link">Penjualan</a>
          <a href="/logout" class="nav-item nav-link">Logout</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 class="text-center">Daftar Transaksi</h1>
      <table class="table table-responsive-lg table-striped table-bordered data_table">
        <thead>
          <tr>
            <th>id</th>
            <th>Waktu Transaksi</th>
            <th>pelayan</th>
            <th>handphone</th>
            <th>jumlah beli(KG)</th>
            <th>Total Harga</th>
          </tr>
        </thead>
        <tbody>
          {% for data in datas %}
            <tr>
              <td>{{data.id}}</td>
              <td>{{data.waktu_transaksi}}</td>
              <td>{{data.id_user.nama}}</td>
              <td>{{data.id_handphone.tipe_hp}}</td>
              <td>{{data.jumlah_beli}}</td>
              <td>{{data.total_harga}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- datatable -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>$('.data_table').DataTable();</script>
  </body>
</html>