<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">handphoneku</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if session['level'] == 1 %}
          <a class="nav-item nav-link" href="/all_level">Level</a>
          <a class="nav-item nav-link" href="/all_karyawan">Karyawan</a>
          <a href="/show_handphone" class="nav-item nav-link">Handphone</a>
          <a href="/penjualan" class="nav-item nav-link">Penjualan</a>
          <a href="/log" class="nav-item nav-link">log</a>
          <a href="/logout" class="nav-item nav-link">Logout</a>
          {% elif session['level'] == 2 %}
          <a href="/penjualan" class="nav-item nav-link">Penjualan</a>
          <a href="/logout" class="nav-item nav-link">Logout</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 class="text-center">Daftar handphone</h1>
      <a href="/tambah_handphone" class="btn btn-primary">Tambah</a>
      <br>
      <br>
      <table class="table table-responsive-lg table-striped table-bordered data_table">
        <thead>
          <tr>
            <th>id</th>
            <th>tipe_hp</th>
            <th>harga</th>
            <th>stock</th>
            <th>active</th>
            <th>option</th>
          </tr>
        </thead>
        <tbody>
          {% for data in datas %}
            <tr>
              <td>{{data.id}}</td>
              <td>{{data.tipe_hp}}</td>
              <td>{{data.harga}}</td>
              <td>{{data.stok}}</td>
              <td>{{data.active}}</td>
              <td><a href="#" data-toggle="modal" data-target="#edithandphone{{data.id}}">edit</a> <a href="/delete_handphone/{{data.id}}">delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    {% for data in datas %}
      <div class="modal fade" id="edithandphone{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="/edit_handphone/{{data.id}}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Handphone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="tipe_hp">tipe_hp</label>
                  <input type="text" value="{{data.tipe_hp}}" required placeholder="tipe_hp" class="form-control" id="tipe_hp" name="tipe_hp">
                  <label for="harga">Harga</label>
                  <input type="number" value="{{data.harga}}" name="harga" placeholder="Harga" required id="harga" class="form-control">
                  <label for="stock">stock</label>
                  <input type="number" value="{{data.stok}}" name="stock" required placeholder="stock" id="stock" class="form-control">
                  <label for="active">Active</label>
                  <select class="form-control" name="active" id="active">
                    <option value="1">True</option>
                    <option value="0">False</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-block">Submit!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- datatable -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>$('.data_table').DataTable();</script>
  </body>
</html>