<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">RS Fajrin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/dokter">Dokter</a>
          <a class="nav-item nav-link" href="/perawat">Perawat</a>
          <a href="/pasien" class="nav-item nav-link">Pasien</a>
          <a href="/obat" class="nav-item nav-link">Obat</a>
          <a href="/antrian_pasien" class="nav-item nav-link">Antrian</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 class="text-center">Daftar obat</h1>
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#tambahobat">Tambah</a>
      <table class="table table-responsive-lg table-striped table-bordered data_table">
        <thead>
          <tr>
            <th>id</th>
            <th>Nama Obat</th>
            <th>Exp Date</th>
            <th>Jenis Obat</th>
            <th>Jumlah Obat</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          {% for data in datas %}
            <tr>
              <td>{{data.id}}</td>
              <td>{{data.nama_obat}}</td>
              <td>{{data.exp_date}}</td>
              <td>{{data.jenis_obat}}</td>
              <td>{{data.jumlah_obat}}</td>
              <td><a href="#" data-toggle="modal" data-target="#editobat{{data.id}}">edit</a> <a href="/delete_obat/{{data.id}}">delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="tambahobat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="" method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tambah obat</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="nama_obat">nama_obat</label>
                <input type="text" name="nama_obat" placeholder="nama_obat" required id="nama_obat" class="form-control">
                <label for="exp_date">Exp Date</label>
                <input type="date" name="exp_date" id="exp_date" class="form-control" placeholder="Exp Date" required>
                <label for="jenis_obat">jenis_obat</label>
                <input type="text" name="jenis_obat" required placeholder="jenis_obat" id="jenis_obat" class="form-control">
                <label for="jumlah_obat">jumlah_obat</label>
                <input type="text" name="jumlah_obat" required placeholder="jumlah_obat" id="jumlah_obat" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary btn-block">Submit!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% for data in datas %}
      <div class="modal fade" id="editobat{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="/edit_obat/{{data.id}}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit obat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="nama_obat">nama_obat</label>
                  <input type="text" value="{{data.nama_obat}}" name="nama_obat" placeholder="nama_obat" required id="nama_obat" class="form-control">
                  <label for="exp_date">Exp Date</label>
                  <input type="date" value="{{data.exp_date}}" name="exp_date" id="exp_date" class="form-control" placeholder="Exp Date" required>
                  <label for="jenis_obat">jenis_obat</label>
                  <input type="text" value="{{data.jenis_obat}}" name="jenis_obat" required placeholder="jenis_obat" id="jenis_obat" class="form-control">
                  <label for="jumlah_obat">jumlah_obat</label>
                  <input type="text" value="{{data.jumlah_obat}}" name="jumlah_obat" required placeholder="jumlah_obat" id="jumlah_obat" class="form-control">
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-block">Submit!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- datatable -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>$('.data_table').DataTable();</script>
  </body>
</html>